useDynLib(GMD)


##' ------------------------------------------------------------------------
##' IMPORT
##' ------------------------------------------------------------------------

import(stats)
import(grDevices)


## import(gplots)
importFrom(gplots,bluered)
importFrom(gplots,barplot2)


##' ------------------------------------------------------------------------
##' EXPORT
##' ------------------------------------------------------------------------

# exportPattern("^[^\\.]")


export(ghist)
export(gbreaks)

export(is.ghist)
export(as.ghist)
export(is.mhist)
export(as.mhist)
export(mhist2matrix)
export(equalize.list)
export(mhist.summary)

export(gdist)
export(is.dist)

export(css)
export(css.hclust)
export(elbow)
export(elbow.batch)

export(gmdp)
export(gmdm)
export(gmdm2dist)
export(gmdm_dist)

export(heatmap.3)

export(plot.mhist)
export(plot.mhist.summary)

export(plot.elbow)

export(print.gmdp)
export(summary.gmdp)
export(plot.gmdp)
export(print.gmdm)
export(plot.gmdm)

export(bedgraph.to.depth)
